


* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	/*background-repeat: no-repeat;
	background-position: center center;
	position: fixed;
	/*z-index: 1;*/
}
body{
	background: url(sunSet.jpg) no-repeat center center fixed;
	width: 100%;
	height: 100vh;
	z-index: 0;
}
header{
	padding: 0 100px;
	width: 100%;
	height: 80px;
	box-sizing: border-box;
	background: rgba(255, 255, 255, .2);
	box-shadow: 0 5px 15px rgba(0,0,0,.2);
	transition: .5s;
	position: fixed;
}
ul{
	position: relative;
	display: flex;
	margin: 0;
	padding: 0;
	transition: .5s;
	float: right;
	text-align: center;
}
ul li{
	list-style: none;
}
ul li a{
	position: relative;
	display: block;
	margin: 20px 0;
	padding: 10px 20px;
	transition: .5s;
	text-transform: uppercase;
	text-decoration: none;
	color: #262626;
	font-weight: bold;
}
ul li a:hover {
	background: #000;
	color: #fff;
}
ul ul{
	display: none;
	z-index: 2;
}
ul li:hover > ul{
	display: block;
	position: relative;
}
ul ul li:hover{
	display: inherit;
}
#container ul li {
	/*text-align: center;*/
	/*position: relative;*/
}
/*ul ul ul{
	margin-left: 150px;
	top: 0px;
	position: absolute;
}*/
.toggle{
	display: none;
	position: absolute;
	right: 10px;
	top: 26px;
	background: #f00;
	color: #fff;
	padding: 5px;
	cursor: pointer;
	font-weight: bold;
}
.fixed {
	position: fixed;
	top: 0;
}
@media (max-width: 992px){
	.toggle{
		display: block;
	}
	header{
		padding: 0 0;
		background-color: rgba(255,255,255,.5);
	}
	header ul{
		width: 100%;
		top: -4px;
		display: none;
	}
	header ul.active{
		display: block;
	}
	header ul li a{
		margin: 0;
		display: block;
		text-align: center;
		color: #ffff;
		background-color: rgba(0,0,0,.5);
	}
}





































